@import 'constants.scss';

.component-button {
  display: inline-flex;
  width: 24%;
  flex: 1 0 auto;
  margin: 4px 0.5%;
}

.component-button.wide {
  width: 74%;
}

.component-button button {
  border-radius: 10px;
  background-color: $tertiary_color;
  border: 0;
  font-size: 1.5rem;
  flex: 1 0 auto;
  padding: 10px;
  color: button_text_color;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.numeric button {
  background-color:$primary_color;
}

.component-button.operator button {
  background-color: $secondary_color;
}
